body{
    width:100vw;
    height: 100vh;
    background: radial-gradient(rgb(165, 234, 165),white);
}

.container{
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.lab{
    display:flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(white,rgb(106, 233, 127));
    border-radius: 15px;
    margin:5%;
    padding:5%;
    border: 3px double black ;
}

.lab:hover{
    background: radial-gradient(rgb(9, 170, 116),rgb(235, 242, 244));
}

.lab a{
    text-decoration: none;
    font-size: 50px;
}